@import 'modules/grid';
@import 'modules/lesshat';

@column-width: 39;
@gutter-width: 11;
@columns: 16;
@total-width: 100%;
@cinza: #535353;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-weight: 300;
  margin-top:0 !important;
}

body{
	font-family: @regular;
	font-weight: normal;
  font-style: normal;
	font-size: 18px;
	color:#FFF;
  overflow-x: hidden;
}

article{
  max-width: 960px;
  margin:0 auto;
}
